<footer class="text-center text-white">
    <div class="container">
        
        <div class="py-5">
            <p>Blog desarrollado por Jesica Firus para la prueba de Octopus</p>
            
        </div>
        
    </div>
    
</footer>



