<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-normal"><a href="/" class = "navbar-brand text-light" >THEBLOG </a> </p>
    <nav class="my-2 my-md-0 me-md-3" id="userLogged">
        <p class="p-2 text-light" id="email"></p>
        <a class="p-2 text-light" href="/publication/publication-list" id="myPublication">Mis Publicaciones</a>
        <a class="p-2 text-light" href="/user/logout" id= "logout">Salir</a>
    </nav>
        <a class="btn btn-outline-light" id="logged" name= "logged" href="/user/login">Empezá Ahora!</a>

</header>